.contact-form-title {
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: var(--secondary-text-color);
}

.contact-form-field {
    display: block;
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
}

.contact-form-wrapper {
    margin-bottom: 10px;
}

.contact-form-input {
    width: 100%;

    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    padding-left: 42px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: #2196f3;
    }
}


.contact-form-comment {
    margin-top: 4px;
    width: 100%;

    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    padding: 12px 16px;

    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:focus {
        border-color: #2196f3;
        outline: #2196f3;
    }
    &::placeholder {
        font-family: var(--primary-font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}

.contact-form-svg-wrapper {
    position: relative;
    margin-top: 4px;
}

.contact-form-svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form-input:focus + & {
        fill: var(--accent-color);
    }
}

.contact-form-btn-submit {
    @include margin-auto;
    display: block;
    margin-top: 30px;
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    min-width: 200px;
    padding: 10px 55px;

    border: transparent;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-btn-modal-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: var(--hover-btn-modal-color);
        color: var(--text-btn-modal-color);
    }
}

.textarea-wrapper {
    margin-bottom: 20px;
}

.contact-form-checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.contact-form-checkbox-link {
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #2196f3;
}

.checkbox-vector {
    display: block;
    width: 16px;
    height: 15px;
    background-color: transparent;
    border: 2px solid var(--primary-text-btn-color);
    border-radius: 3px;

    margin-right: 9px;
    cursor: pointer;

    .contact-form-checkbox:focus + & {
        border: 2px solid var(--accent-color);
        border-radius: 3px;
    }

    .contact-form-checkbox:checked + & {
        background-image: url(../img/icon-check.svg);
        background-color: var(--accent-color);
        background-position: center center;
        background-origin: border-box;
    }
}


