:root {
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;

    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-hero-text-color: #ffffff;
    --primary-icon-color: #afb1b8;
    --accent-color: #2196f3;
    --primary-background-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --team-list-background-color: #ffffff;
    --text-btn-modal-color: #ffffff;
    --primary-text-btn-color: #212121;
    --hover-btn-modal-color: #188ce8;
    --secondary-text-btn-color: #ffffff;
    --primary-text-footer-color: rgba(255, 255, 255, 0.6);
    --secondary-text-footer-color: #ffffff;
    --logo-header-color: #000000;
}